activeItem = 'buckets'
loggedIn = true
include ../nav
.container-fluid
  .page-header
    h1 Add New Bucket
  form.well(action='', method='post')
    label(for='name') Name
    input#name(type='text', name='name')
    label(for='description') Description
    textarea#description(name='description')
    .row
      .span12
        input.btn.btn-primary.btn-large(type='submit', value='Save')
        | 
        a.btn.btn-large(href='#buckets') Cancel