activeItem = 'buckets'
include ../nav
.container-fluid
  .page-header
    h1 My Buckets
  .row
    .span3
      h3
        a(href='#buckets/add') Add Bucket
    for bucket in buckets
      .bucket.span3
        h3
          a.name(href='#buckets/' + bucket.id)= bucket.name
        .amount $#{bucket.amount}