extends ../page

block prepend nav
  activeItem = 'buckets'
  loggedIn = true

block containerContents
  .page-header
    h1= bucket.name
    small= bucket.description
  form.well
    .input-prepend
      .add-on $
      input(type='text', name='amount', value=bucket.amount)
    input.btn.btn-primary(type='submit', name='delete', value='Save')
    | 
    a.btn(href='#buckets') Cancel
    input.btn.pull-right.btn-danger(type='submit', name='delete', value='Delete')
