if typeof(activeItem) === 'undefined'
  activeItem = ''
if typeof(loggedIn) === 'undefined'
  loggedIn = false
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='#') Money Cubbies
      if loggedIn
        .nav.btn-group
          a.btn(href='#withdraw', class=(activeItem == 'withdraw' ? 'active' : '' )) Spend
          a.btn(href='#deposit', class=(activeItem == 'deposit' ? 'active' : '' )) Allocate
          a.btn(href='#buckets', class=(activeItem == 'buckets' ? 'active' : '' )) Manage Cubbies
      ul.nav.pull-right
        if loggedIn
          button.logout.btn Logout
          script
            $(document).ready(function(){
              $('.logout').click(MB.auth.logout);
            });
        else
          button.login.btn Login
          script
            $(document).ready(function() {
              $('.login').click(function() {
                MB.auth.promptUserForLogin();
              });
            });