if typeof(activeItem) === 'undefined'
  activeItem = ''
if typeof(loggedIn) === 'undefined'
  loggedIn = false
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand.hidden-phone(href='#') Money Cubbies
      .nav.btn-group
        a.btn(href='#withdraw', class=(activeItem == 'withdraw' ? 'active' : '' ))
          i.icon-shopping-cart
          span Spend
        a.btn(href='#deposit', class=(activeItem == 'deposit' ? 'active' : '' ))
          i.icon-plus
          span Allocate
        a.btn(href='#buckets', class=(activeItem == 'buckets' ? 'active' : '' ))
          i.icon-th
          span Cubbies
      ul.nav.pull-right
        if loggedIn
          include logout-button
        else
          include login-button