.navbar
  .navbar-inner
    .container
      a.brand(href='#') Money Bucket
      ul.nav
        li.active
          a(href='#') Home
        li
          a(href='#buckets') My Buckets
.container-fluid
  .page-header
    h1 Money Bucket
  .row
    .span6
      a.btn.btn-large.btn-primary(href='#') Withdraw
      .lead Need money to spend? Withdraw money from the appropriate bucket.
    .span6
      a.btn.btn-large.btn-primary(href='#buckets') My Buckets
      .lead See how much money you have budgeted in each of your buckets.