activeItem = 'home'
loggedIn = true
include nav
.container-fluid
  .page-header
    h1 Money Bucket
  .row
    .span6
      a.btn.btn-large.btn-primary(href='#') Withdraw
      .lead Need money to spend? Withdraw money from the appropriate bucket.
    .span6
      a.btn.btn-large.btn-primary(href='#buckets') My Buckets
      .lead See how much money you have budgeted in each of your buckets.