!!!
html
  head
    title Money Cubbies
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

    link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', type='text/css', href='/css/all.css', media='screen')

    script(src='/js/lib/underscore/underscore-min.js', type='text/javascript')
    script(src='/js/lib/underscore.string/underscore.string.min.js', type='text/javascript')
    script(src='/js/lib/jquery/jquery-1.7.1.js', type='text/javascript')
    script(src='/js/lib/async/async.min.js', type='text/javascript')
    script(src='/js/lib/backbone/backbone-min.js', type='text/javascript')
    script(src='/js/lib/bootstrap/bootstrap.min.js', type='text/javascript')
    script(src='/js/lib/jade/runtime.min.js', type='text/javascript')
    script(src='/js/lib/jqtouch/jqtouch-jquery.min.js', type='text/javascript')
    script(src='/js/lib/jqtouch/jqtouch.js', type='text/javascript')

  body
    #fb-root
    .root
      block body_content

    script(src='/js/main.js', type='text/javascript')
    script(src='/js/auth.js', type='text/javascript')
      
    if session.user
      script(src='/js/router.js', type='text/javascript')
      script(src='/js/models/util/Resetable.js', type='text/javascript')
      script(src='/js/models/Bucket.js', type='text/javascript')
      script(src='/js/models/BucketCollection.js', type='text/javascript')
      script(src='/js/models/Page.js', type='text/javascript')
      script(src='/js/models/WithdrawPage.js', type='text/javascript')
      script(src='/js/models/User.js', type='text/javascript')
      script(src='/js/models/UserCollection.js', type='text/javascript')
      script(src="/js/renderers/pages/buckets.js", type="text/javascript")
      script(src="/js/renderers/pages/deposit.js", type="text/javascript")
      script(src="/js/renderers/pages/home.js", type="text/javascript")
      script(src="/js/renderers/pages/withdraw.js", type="text/javascript")
      script(src='/js/views/components/PrimitivePropertyView.js', type='text/javascript')
      script(src='/js/views/pages/BucketsPageView.js', type='text/javascript')
      script(src='/js/views/pages/DepositPageView.js', type='text/javascript')
      script(src='/js/views/pages/HomePageView.js', type='text/javascript')
      script(src='/js/views/pages/WithdrawPageView.js', type='text/javascript')
      script
        MB.user = new MB.models.User({
          id: '#{session.user.id}'
        });
        MB.user.fetch({
          success: function() {
            console.log('User fetched');
            MB.user.get('buckets').fetch({
              success: function() {
                MB.router = new MB.Router();
                Backbone.history.start();
              }
            });
          }
        });
    script
      $.jQTouch({
        formSelector: false,
        slideSelector: false,
        touchSelector: false,
        useAnimations: false
      });
    script
      (function() {
        var callbacks = [];

        MB.facebook = function(callback) {
          if (FB) {
            callback();
            return;
          } else {
            callbacks.push(callback);
          }
        };
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '#{config.facebook.appId}', // App ID
            channelUrl : '//www.abootay.com/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : false  // parse XFBML
          });
          _.each(callbacks, function(callback) {
            callback();
          });
        };

        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
        })(document);
      })();