html
  head
    title Abootay
    meta(name='viewport', content='width=device-width, user-scalable=yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

    link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', type='text/css', href='/css/all.css', media='screen')

  body
    .container-fluid
      block body_content