extends layout

block body_content
  .row
    .span12
      h1 Money Buckets
  .row
    .span12
      .login.btn.btn-large.btn-primary Login with Facebook
      script
        $(document).ready(function() {
          $('.login').click(function() {
            MB.auth.promptUserForLogin();
          });
        });
