extends layout

block body_content
  h1 Money Buckets
  .row
    .login.btn.btn-large.btn-primary.span3 Login with Facebook
      script
        $(document).ready(function() {
          $('.login').click(function() {
            MB.auth.promptUserForLogin();
          });
        });
