extends layout

block body_content
  activeItem = 'home'
  include nav
  .container-fluid
    .hero-unit
      h1 Money Cubbies
      h2 Think cubbies, not budgets.
      p When it comes to saving, decide what specifically you want to save for. Then, set up separate siloed compartments of money, or "cubbies," for each goal and contribute to them on a regular basis.
      .login.btn.btn-large.btn-primary Try It For Free
    hr
    include nav-bottom