.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='#') Money Bucket
      ul.nav
        li(class=(activeItem == 'home' ? 'active' : '' ))
          a(href='#') Home
        li(class=(activeItem == 'buckets' ? 'active' : '' ))
          a(href='#buckets') My Buckets