.sign-up-to-save {
    background: rgb(40, 169, 255);
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    margin: 0 auto;
    text-align: center;
    text-shadow: none;
    width: 50%;
    &:hover { background: rgb(29, 112, 168); color: white; text-decoration: none; }
}