extends page

block prepend nav
  activeItem = 'deposit'

block containerContents
  if !loggedIn
    a.alert.sign-up-to-save.login Sign up to save
  .page-header
    h1 Allocate Money 
      small Fulfill your goals.
  .row
    .span3
      p.allocated.lead Total $
        span.amount= user.allocatedAmount
  .status-msg!= statusMsg
  .buckets
    - for (var i = 0; i < buckets.length / 4; i++)
      .row
        for bucket in buckets.slice(4*i, 4*i + 4)
          include ../components/buckets/bucket