extends page

block prepend nav
  activeItem = 'withdraw'

block containerContents
  if !loggedIn
    a.alert.sign-up-to-save.login Sign up to save
  .page-header
    h1 Spend Money 
      small Choose wisely.
  .row
    .span3
      p.allocated.lead Available $
        span.amount= user.allocatedAmount
  .row
    for bucket in buckets
      submitIcon = 'icon-minus'
      include ../components/buckets/bucket