.bucket.span3(bucketId=bucket.cid)
  .well
    h3.name= bucket.name
    p.lead $
        span.amount= bucket.amount
    //- need action attribute to be correct HTML and for iPhone to show the "Go" button
    form(action='')
      .input-prepend.input-append
        .add-on $
        input.amount.span1(type='tel', placeholder='0')
        submitIcon = submitIcon || 'icon-ok'
        input.btn(type='submit') &nbsp;
          i(class=submitIcon)