.bucket.span3(bucketId=bucket.cid)
  .well
    h3.name= bucket.name
    p.lead $
        span.amount= bucket.amount
    form
      .input-prepend.input-append
        .add-on $
        input.amount.span1(type='tel', placeholder='0')