.bucket(bucketId=bucket.cid)
  .well
    .btn-toolbar.pull-right
      .input-prepend.input-append
        .add-on.edit.btn
          i.icon-pencil
        .add-on.delete.btn
          i.icon-remove
    h3.name= bucket.name
    h4
      small.description= bucket.description